
@{
    ViewBag.Title = "Index";
}

@using AquaWorld.Data.Models
@using Microsoft.AspNet.Identity

<h3 style="color:white">Your Cart Items:</h3>

@if (Session["CartItems"] != null)
{
    decimal totalPrice = 0;

    foreach (Creature item in Session["CartItems"] as List<Creature>)
    {
        totalPrice += item.Price;
        <div class="jumbotron" style="display:inline-block; background-color: rgba(255, 255, 255, 0.8); padding:10px 10px 10px 10px">
            <span> @item.Name </span>
            <span>
                <img src="@item.ImageUrl" width="80" height="60" class="img-rounded" />
            </span>
            <span>
                @item.Price.ToString("C")
            </span>
            <p>
                @*@Html.ActionLink("Remove", "RemoveFromCart", new { id = item.Id })*@
                <a href="/ShoppingCart/RemoveFromCart/?Id=@item.Id" style="font-size:medium">Remove from cart</a>
            </p>
        </div>
    }

    var creaturesList = new List<Creature>();
    creaturesList.AddRange(Session["CartItems"] as List<Creature>);
    int creaturesCount = creaturesList.Count;
    if (creaturesCount > 0)
    {
        <div style="background-color: rgba(255, 255, 255, 0.8); padding: 15px 15px 15px 15px; border-radius:15px 15px 15px 15px">
            <strong>Total Items: </strong><strong style="color:navy; font-size:large">@creaturesCount</strong>
            <strong style="margin-left:20px">Total Price: </strong><strong style="color:navy; font-size:large">@totalPrice.ToString("C")</strong>
            <a class="btn btn-success" style="float:right" href="/Order/Create/?userId=@User.Identity.GetUserId()">Order!</a>
        </div>
    }
}
